@import '../abstracts/mixins';

.myHeader{
    position: absolute;
    width: 100%;
    padding: $space-lg;

    }



  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }
  
  // .sticky + .content {
  //   padding-top: 102px;
  // }