$color-documentation-applied-cell-border-color: rgba(83,110,128,1);
$color-documentation-applied-container-border-color: rgba(177,209,229,1);
$color-documentation-applied-cell-background-color: rgba(250,253,255,1);
$color-documentation-primary-primary: rgba(50,66,77,1);
$color-documentation-primary-primary-90: rgba(50,66,77,1);
$color-documentation-primary-primary-80: rgba(66,88,102,1);
$color-documentation-primary-primary-70: rgba(83,110,128,1);
$color-documentation-primary-primary-60: rgba(108,143,166,1);
$color-documentation-primary-primary-50: rgba(124,166,191,1);
$color-documentation-primary-primary-40: rgba(177,209,229,1);
$color-documentation-primary-primary-30: rgba(206,228,242,1);
$color-documentation-primary-primary-20: rgba(235,247,255,1);
$color-documentation-primary-primary-10: rgba(242,250,255,1);
